@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 43, 43, 43;
  --secondary-foreground-rgb: 106, 106, 106;
  --light-foreground-rgb: 139, 139, 139;

  --background-rgb: 255, 255, 255;

  --primary-border: 213, 213, 213;

  --size-title: 2rem;
  --size-subtitle: 1.5rem;

  --card-background-primary: 247, 247, 247;
  --card-background-secondary: 193, 183, 86;

  --icon-filter: invert(80%);

  --light-button-background: 45, 45, 45;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --secondary-foreground-rgb: 106, 106, 106;
    --light-foreground-rgb: 156, 156, 156;

    --background-rgb: 39, 39, 39;

    --primary-border: 66, 66, 66;

    --size-title: 2rem;
    --size-subtitle: 1.5rem;

    --card-background-primary: 62, 62, 62;
    --card-background-secondary: 193, 183, 86;

    --icon-filter: invert(0);

    --light-button-background: 45, 45, 45;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  height: 100vh;
}
