.alerts {
    .panel {
        text-align: center;

        .unselected-panel {
            color: rgb(var(--light-foreground-rgb));
        }

        .separator {
            width: 1px;
            height: 100%;
            background-color: rgb(var(--foreground-rgb));
            margin: 0 auto;
            border-radius: 1px;
        }
    }
}